body {
  font-family: helvetica neue, sans-serif;
  text-align: center;
}

h2 {
  font-family: helvetica neue, sans-serif;
}

small {
  display: block;
  color: #ddd;
  margin-top: 1%;
  font-size: 50%;
}

img {
  max-width: 100%;
}

.ads {
  margin: 1% auto;
  text-align: center;
  font-size: small;
}

.carbon-img img {
  margin: 0 auto;
  display: block;
}

a, a:visited, a:active {
  color: #ccc;
  transition-property: color;
    transition-duration: 0.5s;
}

a:hover {
  color: #000;
}

p, footer {
  width: 95%;
  margin: 1% auto;
  text-align: center;
  font-size: 300%;
  display: block;
}

.madeby,
iframe{
  margin-top: 2.5%;
}

.social {
  padding: 1%;
  display: inline-block;
  margin: 1.5%;
  text-decoration: none;
}

a.social:visited {
  color: #FFF;
}

a.twitter:visited {
  color: #2D6491;
}

.socialshares {
  text-align: center;
}

.facebook {
  background-color: #3C5A98;
  color: #FFF;
}

.twitter {
  background-color: #DBF7F8;
  color: #2D6491;
}

.linkedin {
  background-color: #185C80;
  color: #FFF;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #673ab7;
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.intro.date-box {
  padding: 5px;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}
.intro .box-text {
  font-size: 1.5em;
}

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #0097a7;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #673ab7;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #0097a7;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #0097a7 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #0097a7;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li.in-view::after {
  background: #0097a7;
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #0097a7 transparent transparent;
  }
}

@media screen and (max-width: 685px) {
  .intro.date-box {
    width: 80%;
  }
}

/* Dropdown CSS */

.submit, .submit:visited {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0.5em;
  padding: 0.4em;
  font-size: 1.5em;
  background-color: #552f99;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.submit:hover {
  cursor: pointer;
}

.dropdown--large {
  font-size: 1.2em;
}

.dropdown__select{
  font-size: inherit; /* inherit size from .dropdown */
  padding: .5em; /* add some space*/
  margin: 0; /* remove default margins */
}

.dropdown__select--emerald {
  background-color: #673ab7; /* background colour where wording is */
  color: #fff;
}

@supports (pointer-events: none) and
((-webkit-appearance: none) or
(-moz-appearance: none) or
(appearance: none)) {

  .dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .dropdown__select {
    padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
    border: 0;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .dropdown::before,
  .dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  .dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%; margin-top: -.5em;
  }

  .dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0; top: 0; bottom: 0;
    border-radius: 0 3px 3px 0;
  }

  .dropdown__select[disabled] {
    color: rgba(0,0,0,.3);
  }

  .dropdown.dropdown--disabled::after {
    color: rgba(0,0,0,.1);
  }

  /* Emerald dropdown style */
  .dropdown--emerald::before {
    background-color: #552f99; /* arrow box colour */
  }

  .dropdown--emerald::after {
    color: rgba(0,0,0,.4);
  }

  @-moz-document url-prefix() {
    .dropdown__select 						 { padding-right: .9em }
    .dropdown--large .dropdown__select { padding-right: 1.3em }
    .dropdown--small .dropdown__select { padding-right: .5em }
  }

}
