body {
  font-family: 'Avenir', 'Avenir Next LT Pro', 'Montserrat', 'Corbel', 'URW Gothic', 'source-sans-pro', sans-serif;
  text-align: center;
  background: #1F2D36;
  color: #fff;
  overflow-x: hidden;
  padding: 10px 0 50px;
}

small {
  display: block;
  color: #ddd;
  margin-top: 1%;
  font-size: 50%;
}

img {
  max-width: 100%;
}

.carbon-img img {
  margin: 0 auto;
  display: block;
}

a, a:visited, a:active {
  color: #ccc;
  transition-property: color;
    transition-duration: 0.5s;
}

a:hover {
  color: #767676;
}

p, footer {
  width: 95%;
  margin: 1% auto;
  text-align: center;
  display: block;
}

a.social:visited {
  color: #FFF;
}

.socialshares {
  margin: 0 auto 50px auto;
}

.socialshares > h2 {
  margin: 0 auto 20px auto;
}

.social {
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-right: 8px;
}

.social:hover {
  color: #fff;
  opacity: 0.8;
}

.social img {
  height: 2rem;
  vertical-align: middle;
}

.facebook {
  background-color: #3C5A98;
}

.twitter {
  background-color: #0056A7;
}

.linkedin {
  background-color: #007ab9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro.date-box {
  padding: 25px;
  margin: 50px auto;
  border-radius: 5px;
  width: 500px;
}
.intro .box-text {
  font-size: 1.5em;
}

.intro form {
  margin-top: 0.75rem;
}

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #005B68;
  margin-top: 50px;
  padding: 8px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #1F2D36;
  margin-top: 50px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  background: #fff;
  margin-top: -50px;
  text-align: left;
}

.timeline-element {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #005B68;
  border-radius: 5px;
  line-height: 20px;
}

.timeline-element h3 {
  margin-bottom: 8px;
  font-size: 24px;
}

.timeline-element::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:first-child {
  padding-top: 50px;
}

.timeline ul li:nth-child(odd) .timeline-element {
  left: 45px;
}

.timeline ul li:nth-child(odd) .timeline-element::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #005B68 transparent transparent;
}

.timeline ul li:nth-child(even) .timeline-element {
  left: -439px;
}

.timeline ul li:nth-child(even) .timeline-element::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #005B68;
}

time {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.timeline a:hover {
  color: #767676;
}

/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.madeby {
  margin-top: 50px;
}

.logo {
  display: block;
  width: 3rem;
  margin: 0 auto;
  transition: all 0.2s;
}

.logo:hover {
  margin-top: -5px;
  margin-bottom: 5px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline-element {
    width: 250px;
  }
  .timeline ul li:nth-child(even) .timeline-element {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
    padding-top: 100px;
  }
  .timeline-element {
    width: calc(100vw - 91px);
    
  }
  .timeline ul li:nth-child(even) .timeline-element {
    left: 45px;
  }
  .timeline ul li:nth-child(even) .timeline-element::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #005B68 transparent transparent;
  }
}

@media screen and (max-width: 685px) {
  .intro.date-box {
    width: 80%;
  }
  
  .socialshares {
    width: 80%;
  }
}

/* Dropdown CSS */

.submit, .submit:visited {
  -webkit-appearance: none;
  appearance: none;
  margin: 0.75em;
  padding: 0.4em 1rem;
  font-size: 1.5em;
  background-color: #1F2D36;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.submit:hover {
  cursor: pointer;
  background-color: #141a1f;
  color: #fff;
}

.dropdown--large {
  font-size: 1.2em;
}

.dropdown__select{
  font-size: inherit; /* inherit size from .dropdown */
  padding: .5em; /* add some space*/
  margin: 0; /* remove default margins */
}

.dropdown__select--emerald {
  background-color: #3a5363; /* background colour where wording is */
  color: #fff;
}

@supports (pointer-events: none) and
((-webkit-appearance: none) or
(appearance: none)) {

  .dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .dropdown__select {
    padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
    border: 0;
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;
  }

  .dropdown::before,
  .dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  .dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .5em;
    line-height: 1;
    right: 1.5em;
    top: 50%; margin-top: -.5em;
  }

  .dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0; top: 0; bottom: 0;
    border-radius: 0 3px 3px 0;
  }

  .dropdown__select[disabled] {
    color: rgba(0,0,0,.3);
  }

  .dropdown.dropdown--disabled::after {
    color: rgba(0,0,0,.1);
  }

  /* Emerald dropdown style */
  .dropdown--emerald::before {
    background-color: #1F2D36; /* arrow box colour */
  }

  .dropdown--emerald::after {
    color: rgba(255,255,255,.8);
  }
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --width: 330px;
  --font-size: 12px;
}

#carbonads {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  max-width: var(--width);
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, .1);
  font-size: var(--font-size);
  line-height: 1.5;
  width: 500px;
}

#carbonads a {
  color: #111;
  text-decoration: none;
}

#carbonads a:hover {
  color: #333;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  float: left;
  margin: 0;
  max-width: var(--width);
  line-height: 1;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  display: block;
  float: left;
  padding: 8px 1em;
  max-width: calc(100% - 130px - 2em);
  text-align: left;
}

.carbon-poweredby {
  display: block;
  padding: .8em var(--font-size);
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
}

h1, h2 {
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-size: 36px;
}

.larger {
  font-size: 60px;
}

.larger a {
  text-decoration: none;
}

.day-highlight {
  font-size: 24px;
  font-weight: bold;
}
